.care{
    width: 100%;
    min-height: 90vh;
    background: $gradient-white, url('/src/img/park1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    .actions{
        @include flex(center, center, column);
        flex-wrap: wrap;

        .action-container{
            height: 20vh;
            flex: 1 1 30rem;
            @include flex(center, center, row);
            flex-wrap: wrap;
        }
        .action{
            padding: 4rem 2rem;
            flex: 2 1 30rem;
            text-align: center;
            background: $background-black;
            // border: solid black 1px;
            border-radius: 1rem;

            p{
                text-align: left;
            }
        }
    
    .action_img-container{
        flex: 1 1 30rem;
        text-align: center;

        .action_img{
            height: 25rem;
            text-align: center;
        }
    }
    
    }
}

.articles{
    @include flex(center, center, row);
    flex-wrap: wrap;

    .article{
        flex: 1 1 20rem;
        text-align: left;
        // border: solid black 1px;
        // border-radius: 2rem;
        margin: 1rem;
        padding: 1rem;

        h4{
            padding-left: 1rem;
        }

        .article-text{
            padding: 1rem;
            @include flex(center,center,row);
            img{
                height: 10rem;
            }
            p{
                padding: 1rem;
                font-size: 1.5rem;
            }
    
        }
        
    }
}