// Header

.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: $gradient-secondary;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
  }
  nav {
    @include flex(space-between, center, row);
    min-height: 10vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    padding: 1rem;
    flex-wrap: wrap;
  
    .logo {
      @include flex(flex-start, center, row);
      align-items: center;
      flex: 1 1 10rem;
      img{
        height: 6rem;
        // padding: 1rem 0;
      }
      h1{
        font-family: 'Indie Flower', cursive;
        font-size: 3rem;
        padding: 1rem
      }
    }
  
    ul {
      @include flex(space-around, center, row);
      flex: 1 1 20rem;
  
      a {
        font-size: 2.3rem;
        padding: 0 3rem;
        color: white;
      }
    }
  }

// Intro section
.intro {
  min-height: 90vh;
  padding: 2rem;
  width: 100%;
  flex-wrap: wrap;
  @include flex(center, center, row);
  background: $gradient-white, url(/src/img/park2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h2 {
    font-size: 5rem;
    padding-bottom: 1rem;
    // color: white;

    background: $gradient-primary;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  
  }

  .intro-text {
    padding: 1rem;
  flex: 1 1 40rem;
}

  .intro-images{
    flex: 2 1 40rem;
    display: grid;
    min-height: 20rem;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img1 img3" "img2 img3";
    // position: relative;

    img{
      width: 98%;
      height: 98%;
      object-fit: cover;

      // Blur borders
      box-shadow: 0 0 8px 8px white inset;
    }

    .img1{
      grid-area: img1;
    }
    .img2{
      grid-area: img2;
    }
    .img3{
      grid-area: img3;
      height: 99%;
    }
  }
}