.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to top left, #abd1dc, #c6a477);
  color: white;
  position: sticky;
  top: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  padding: 1rem;
  flex-wrap: wrap;
}
nav .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  align-items: center;
  flex: 1 1 10rem;
}
nav .logo img {
  height: 6rem;
}
nav .logo h1 {
  font-family: "Indie Flower", cursive;
  font-size: 3rem;
  padding: 1rem;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: 1 1 20rem;
}
nav ul a {
  font-size: 2.3rem;
  padding: 0 3rem;
  color: white;
}

.intro {
  min-height: 90vh;
  padding: 2rem;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: linear-gradient(to top left, rgba(255, 255, 255, 0.4), transparent), url(/src/img/park2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.intro h2 {
  font-size: 5rem;
  padding-bottom: 1rem;
  background: linear-gradient(to top left, #d3e7ee, #ecd59f);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.intro .intro-text {
  padding: 1rem;
  flex: 1 1 40rem;
}
.intro .intro-images {
  flex: 2 1 40rem;
  display: grid;
  min-height: 20rem;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img1 img3" "img2 img3";
}
.intro .intro-images img {
  width: 98%;
  height: 98%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 0 8px 8px white inset;
}
.intro .intro-images .img1 {
  grid-area: img1;
}
.intro .intro-images .img2 {
  grid-area: img2;
}
.intro .intro-images .img3 {
  grid-area: img3;
  height: 99%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
label,
input,
p {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  color: black;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.section-title, .section-header {
  padding: 2rem;
}

.care {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(to top left, rgba(255, 255, 255, 0.4), transparent), url("/src/img/park1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.care .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.care .actions .action-container {
  height: 20vh;
  flex: 1 1 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.care .actions .action {
  padding: 4rem 2rem;
  flex: 2 1 30rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
}
.care .actions .action p {
  text-align: left;
}
.care .actions .action_img-container {
  flex: 1 1 30rem;
  text-align: center;
}
.care .actions .action_img-container .action_img {
  height: 25rem;
  text-align: center;
}

.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.articles .article {
  flex: 1 1 20rem;
  text-align: left;
  margin: 1rem;
  padding: 1rem;
}
.articles .article h4 {
  padding-left: 1rem;
}
.articles .article .article-text {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.articles .article .article-text img {
  height: 10rem;
}
.articles .article .article-text p {
  padding: 1rem;
  font-size: 1.5rem;
}

.gallery {
  width: 90%;
  margin: auto;
  min-height: 90vh;
}
.gallery .slider {
  max-width: 100rem;
  height: 50rem;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.gallery .slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  text-align: center;
  transition: transform 1s;
}
.gallery .slide > img {
  width: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .slide-prev, .gallery .slide-next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 2rem;
  padding: 1rem;
  color: grey;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.4s ease;
  border: none;
  border-radius: 1rem 0 0 1rem;
}
.gallery .slide-next {
  right: 0;
  border-radius: 0 1rem 1rem 0;
}

.curiosities {
  min-height: 90vh;
  width: 90%;
  margin: auto;
}
.curiosities .curiosities_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.curiosities .curiosities_container .curiosity-text, .curiosities .curiosities_container .curiosity-img {
  flex: 1 1 20rem;
}
.curiosities .curiosities_container .curiosity-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.curiosities .fact-btn {
  text-align: center;
}/*# sourceMappingURL=style.css.map */